node_modules
dist
dist.zip
*.zip
.vite
server/data.db
server/data.db-wal
server/data.db-shm
server/uploads/*.jpg
server/uploads/*.jpeg
server/uploads/*.png
server/uploads/*.webp
server/uploads/*.svg
!server/uploads/.gitkeep
